<mat-sidenav-container
    class="container" (backdropClick)="close('backdrop')" >
  <mat-sidenav class="sidenav" #sidenav (keydown.escape)="close('escape')" disableClose>
    <button class="full-width" mat-button (click)="close('toggle button')">
    <mat-icon aria-hidden="false"  aria-label="menu icon" fontIcon="close" class="close-icon"></mat-icon>
    </button>
    <button class="full-width" mat-button (click)="logout()">
      Logout
    </button>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <nav>
        <button mat-button (click)="sidenav.open()">
    <mat-icon aria-hidden="false"  aria-label="menu icon" fontIcon="menu" class="menu-icon"></mat-icon>
        </button></nav>
        <div class="table-container">
          <form>
            <mat-form-field class="full-width">
              <input class="input-control" type="text" matInput [formControl] = "begin" placeholder="10:30">
          </mat-form-field>
          <span>To</span>
          <mat-form-field class="full-width">
            <input class="input-control" type="text" matInput [formControl] = "end" placeholder="11:45">
          </mat-form-field>
          <button (click)="getFlights()"  mat-raised-button color="primary">Get Flights</button>
          </form>
          <div class="wrapper">

<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        <app-table 
            [dataSource]="data"
        ></app-table>
      </div>
      
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>